		body {
		    background: linear-gradient(45deg, rgb(56, 24, 52), rgb(180, 21, 185), rgb(8, 24, 119), black);
		    background-size: 400% 400%;
		    position: relative;
		    animation: cambiar 10s ease-in-out infinite;
		}



		@keyframes cambiar {
		    0% {
		        background-position: 0 50%;
		    }

		    50% {
		        background-position: 100% 50%;
		    }

		    100% {
		        background-position: 0 50%;
		    }
		}